{% extends 'base.html' %}

{% block title %}
    {{ block.super }}
{% endblock %}

{% load static %}

{% block content %}
    {#    <nav class="row" style="background: green; color: white;">#}
    {#        <h1 class="col-md-3 text-center">Weather</h1>#}
    {#    </nav>#}
    <br/>
    <br/>
    <br>
    <div>
        <br>
        <h1 align="center">Add subscription:</h1>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ city.as_p }}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-success m-3">Save</button>
        </form>
{#            {{ form }}#}
{#        {% for sub in subscriptions %}#}
{#            {{ sub }}#}
            {#            {% for i in sub.subscriptions.all %}#}
            {#                <b>City:</b> {{ i }}#}
            {#                <b>Interval:</b> {{ sub.interval }}#}
            {#                <b>Created at:</b> {{ sub.created_at }}#}
            {#                <br>#}
            {#            {% endfor %}#}
{#        {% endfor %}#}
    </div>
{% endblock %}

